.mzxml
.idea/
Data/
J10_RV43_10Sept15.mzxml
MC3-16_040516.mzxml
Testing
nodbase.py
nodbase2.pyc
playground.py
plot.pyc
upload.pyc
analyze.py
gui.py
launch.py
msanalysis.py
nodbase2.py
plot.py
upload.py
